# These files are text and should be normalized (convert crlf =&gt; lf)
Gemfile text 
Procfile text
.gitignore text
*.rb text
*.js text
*.erb text
*.yml text


# Images should be treated as binary
*.png -text
*.jepg -text
*.jpg -text
*.sqlite3 -text