<h1>Publications</h1>
<ul class="publication">
  <% @publications.each do |publication| %>
    <li>
      <%=   publication.title %>
    </li>
      <% if publication.published.present? %>
      <li>
	      Published: 
	      <%= publication.published %>
	     </li>
      <% end %>
    <li>
    	<%= publication.description %>
    </li>
  <% end %>
</ul>
