<h1>Recipe Finder - Publications</h1>

<% @publications.each do |publication| %>
  <h2>
  	<%=   publication.title %>
  </h2>
  <p>
    <%= publication.description %>
  </p>
  <% if publication.published.present? %> 
	  <p>
			Published: 
		  <%= publication.published %>
		</p>
  <% end %>
<% end %>

