<div class="container">
  <h1><%= @publication.title %> </h1>
  <%= form_tag("/publications/#{@publication.id}/userissuesupdate" , method: :patch) do %>
  <% @action = :edit_user_issue %>
  <%= render partial: 'issues_table' %>
 <%= submit_tag "Save", class:"btn btn-primary" %>
  <% end %>
</div>