<div class="container">
	<h1>Categories  </h1>
		<h2>
			<!-- letter ranges tabs -->
			<ul class="nav nav-tabs nav-justified">
				<% @letter_ranges.each do |letters| %>
					<li <%= add_active_class_when_selected_letter(letters,@letters) %> 		> 
			 			<%= link_to letters.join(' - '), byletter_categories_path(letters[0])  %>
					</li>
				<% end %> 
			</ul>
		</h2>
	
		<% if @categories.length == 0 %>
	  	<p> No categories found </p>
		<% else %>
			<div class="row recipe" >
				
			<% count = 0 %>
			
    	<% @categories.each do |category| %>
    	
    		<% if count == 0 %>
    			<div class="col-sm-3 col-md-6 col-lg-3" >
    	 		<ul class="list-unstyled">
    		<% end %>
    	
    		<li> <%= link_to category.name, category_path(category) %>	 </li>
     	     	
     		<% count += 1%>
     		<% if count >= @columnheight %>
     			</ul>
    			</div>
    			<% count = 0 %>
    		<% end %>      
    	<% end %>
    	</ul>
    	</div>
  	<% end %>
</div>
