  <h3>Recipes</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Recipe</th>
        <th>Page</th>
      </tr>
    </thead>
    <tbody>
    	<% @recipes.each do |recipe| %>
	      <tr>
	        <td>
	        	<%= raw( format_recipe_title(recipe, @catrec)) %>
	        </td>
	        <td><%= recipe.page %></td>
	      </tr>
	     <% end %>
    </tbody>
  </table>