<!DOCTYPE html>
<html>
<head>
  <title>Recipe Index</title>
 
  <%= stylesheet_link_tag 'application' , 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav role="navigation">
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">This Month</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Dropdown <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
    	<li role="presentation"><a href="#">Item 1</a></li>
    	<li role="presentation"><a href="#">Item Two</a></li>
  </li>
</ul>
</ul>
</nav>
<%= yield %>

</body>
</html>
